@{
    ViewData["Title"] = "Главная страница";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/banner1.svg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Мы строим .NET приложения, которые могут работать в любой сфере
                    <a class="btn btn-default" href="#">
                        Узнать больше
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner2.svg" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Появились новые мощные функции для создания современных веб-приложений
                    <a class="btn btn-default" href="#">
                        Узнать больше
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner3.svg" alt="Microsoft Azure" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Облачная платформа теперь позволяет создавать, развертывать и масштабировать веб-приложения для любого бизнеса
                    <a class="btn btn-default" href="#">
                        Узнать больше
                    </a>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Предыдущий</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Следующий</span>
    </a>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Правительство</h2>
        <ul>
            <li><a href="#">Рукводители</a></li>
            <li><a href="#">Выборы</a></li>
            <li><a href="#">Партия «Ата Мекен»</a></li>
            <li><a href="#">СМИ</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Проекты</h2>
        <ul>
            <li>Культуры - Маданият</li>
            <li><a href="#">Руханият</a></li>
            <li>СМИ</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Обзор</h2>
        <ul>
            <li><a href="#">Газеты</a></li>
            <li><a href="#">Медицина</a></li>
            <li><a href="#">Типографии</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Архив</h2>
        <ul>
            <li><a href="#">Рынок Кок Жар</a></li>
            <li><a href="#">Рынок Кулун Ата</a></li>
            <li><a href="#">Ажылар</a></li>
        </ul>
    </div>
</div>
